.item__title {
    font-size: 54px;
    font-size: calc((100vw - 320px)/(1280 - 320) * (54 - 24) + 24px);
    font-family: 'Bebas', 'Inter', Arial, Helvetica, sans-serif;
    padding-top: 8%;
    width: 80%;
    margin: 0 auto;
    color: #66cdcd;
}


@media screen and (max-width: 767px) {
    .item__title {
        font-size: 24px;
    }
}