.item__price {
    grid-area: price;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (30 - 18) + 18px);
    color: #669a9a;
    font-weight: 900;
    font-family: 'Bebas', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


@media screen and (max-width: 767px) {
    .item__price {
        font-size: 18px;
    }
}