.cards__item {
    width: 54vw;
    height: 60vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .cards__item:nth-child(1) {
    background: url(../../../images/Znaki.jpg);
    background-size: cover;
  }
  .cards__item:nth-child(2) {
    background: url(../../../images/Interval.jpg);
    background-size: cover;
  }
  .cards__item:nth-child(3) {
    background: url(../../../images/Piano-1.jpg);
    background-size: cover;
  }

  @media screen and (max-width: 767px) {
    .cards__item {
      width: 90vw;
      height: 60vh;
    }
}