.item__subtitle {
    grid-area: subtitle;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (30 - 14) + 14px);
    font-weight: 500;
}


@media screen and (max-width: 767px) {
    .item__subtitle {
        font-size: 14px;
    }
}