@keyframes slidein {
   from {
     transform: scale(0.5);
   }
   50% {
      transform: scale(1.2);
   }
   to {
      transform: scale(1);
   }
}
 
 .header__title {
   width: 80%;
   font-family: 'Mon', Helvetica, Arial, sans-serif;
   font-size: 60px;
   font-weight: 500;
   margin: 0 auto;
   text-align: end;
   line-height: 1.4;
   padding-top: 150px;
   animation: slidein 1s ease-in-out;
}

@media screen and (max-width: 1200px) {
   .header__title {
      font-size: 56px;
      padding-top: 100px;
   }
}

@media screen and (max-width: 767px) {
   .header__title {
      font-size: 50px;
   }
}

@media screen and (max-width: 490px) {
   .header__title {
      font-size: 36px;
   }
}