.cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 54vw;
    height: 60vh;
    max-width: 950px;
    max-height: 625px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform-origin: center;
  }
  .cards__item:nth-child(1) {
    background-image: url(../../../images/image-1.jpg);
    background-size: cover;
    transform: rotateY(0) translateZ(35vw);
  }
  .cards__item:nth-child(2) {
    background: url(../../../images/Interval.jpg);
    background-size: cover;
    transform: rotateY(120deg) translateZ(35vw);
  }
  .cards__item:nth-child(3) {
    background: url(../../../images/Garm.jpg);
    background-size: cover;
    transform: rotateY(240deg) translateZ(35vw);
  }
  .cards__item:nth-child(4) {
    background: url(../../../images/teoria.jpg);
    background-size: cover;
    transform: rotateY(240deg) translateZ(35vw);
  }

  @media screen and (max-width: 767px) {
    .cards__item {
      width: 70vw;
    height: 55vh;
    }
}
  
  @-webkit-keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @-webkit-keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }