.about__photo-box {
   margin: 0 auto;
   overflow: hidden;
   background-image: url(../../../images/kluch-noty.png);
   background-size: cover;
   border-radius: 50%;

}

@media screen and (max-width: 705px) {
   .about__photo-box {
   margin-top: 30px;
   order: -1;
   }
}

