.section__subtitle {
    width: 60%;
    line-height: 1.4;
    font-size: 24px;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .section__subtitle {
       font-size: 20px;
    }
}

@media screen and (max-width: 498px) {
    .section__subtitle {
       font-size: 18px;
    }
}