.header__title {
   width: 80%;
   font-family: 'Mon', Helvetica, Arial, sans-serif;
   font-size: 60px;
   /* font-size: calc( (100vw - 320px)/(1280 - 320) * (36 - 20) + 20px); */
   font-weight: 300;
   height: 100vh;
   padding: 15% 10% 0;
   margin: 0 auto;
   text-align: end;
   line-height: 1.4;
   background-color: rgba(0, 0, 0, .5);
   text-shadow: 3px 2px 15px rgba(100, 100, 100, 1);
   animation: fade-up 1s forwards cubic-bezier(0.2, 2, 0.4, 1);
}

@media screen and (max-width: 767px) {
   .header__title {
      font-size: 36px;
   }
}