.otvet {
    background-color: rgba(147, 173, 252, 0.3);
    border: solid 1px rgb(255, 255, 255);
    box-shadow: 3px 3px 8px rgba(121, 82, 82, 0.8);
    padding: 10px 0 3px 15px;
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'Mon', Helvetica, sans-serif;
    transition: .3s;
}
.otvet:hover {
    box-shadow: 2px 2px 15px rgba(121, 121, 121, 0.8);
    transform: scale(1.01);
}

.otvet:active {
    background-color: rgb(144, 155, 255);
}