.otvet {
    background-color: transparent;
    border: solid 1px rgb(255, 255, 255);
    box-shadow: 3px 3px 8px rgba(121, 82, 82, 0.8);
    margin-top: 5px;
    border-radius: 10px;
    font-family: 'Mon', Helvetica, sans-serif;
    transition: .3s;
}
.otvet:hover {
    box-shadow: 2px 2px 15px rgba(121, 121, 121, 0.8);
    transform: scale(1.01);
}

.otvet:active {
    background-color: rgb(144, 155, 255);
}