.item__title {
    font-size: 54px;
    font-family: 'Bebas', 'Inter', Arial, Helvetica, sans-serif;
    padding-top: 8%;
    width: 80%;
    margin: 0 auto;
    color: #66cdcd;
}


@media screen and (max-width: 1024px) {
    .item__title {
        font-size: 40px;
    }
}